version: "3.8"

services:
    db:
        image: mysql:latest
        container_name: jwt_login_db
        restart: always
        environment:
            - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
            - MYSQL_DATABASE=${DB_DATABASE}
        ports:
            - "${DOCKER_DB_PORT}:${DB_PORT}"
